<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link rel="stylesheet" th:href="@{../css/table.css}">
</head>
<body>
	<nav>
        <ul>
			<span sec:authorize="isAuthenticated">
            <li><a th:href="@{/logout}" >Logout</a></li>
			</span>
            <li><a th:href="@{/user-page}">Home</a></li>
            <li><a th:href="@{/addproduct}">Add Product </a></li>
        </ul>
    </nav>
	<div>
		
    <h1>Product List</h1>
   
    <form th:action="@{/search}"  >
    <input type="button" value="Clear" onclick="clearSearch()" />
    <input type="submit" value="Search" />
    <input type="text" name="keyword"  size="50" th:value="${keyword}" placeholder="Search" required />
    
    </form>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Expiry Date</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${product}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.expirydate}"></td>
                <td> <a th:href="@{/select/{name}(name=${product.name})}" >View</a> </td>
                <td> <a th:href="@{/update/{id}(id=${product.id})}" >Edit</a> </td>
                <td> <a th:href="@{/delete/{id}(id=${product.id})}" >Delete </a>  </td>       
            </tr>
        </tbody>
    </table>
    </div>
    <script>
		function clearSearch(){
		window.location='/all';
		}
		
	</script>
    
</body>
</html>
